@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
body{
	margin: 0;
	background: #f1f2f3;
}
#wrapper{
	position: relative;
	left:0;
	top:0;
	height:100vh;
}

#tool-box{
	width: 60px;
	background: #fff;
	height:100%;
	float:left;
	padding-top: 150px;
}
#tool-box ul{
	margin: 0;
	padding: 0;
}
#tool-box ul li:first-child{
	border-top: #f1f2f3 solid 1px;
}
#tool-box ul li{
	list-style: none;
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #4c4c4c;
	padding: 20px 8px;
	border-bottom: #f1f2f3 solid 1px;
}
#tool-box ul li:hover{
	background: #fcfcfc;
	cursor: pointer;
	color:#1081de;
}
#tool-box ul li.active{
	background: #1081DE;
	color:#FFFFFF;
	cursor: pointer;
}
#tool-box ul li i{
	font-size: 20px;
}
#content{
	width:calc(100% - 60px);
	min-height:100%;
	background: #ddd;
	float: right;
}
.navbar.navbar-fixed-top{
	background-image: linear-gradient(90deg, #1269b1 0%, #223E73 60%);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.20);
	font-family: 'Lato',sans-serif;
	font-weight: 300;
}
.navbar-btn:active{
	outline: 0;
}
.navbar-btn{
	outline: 0;
	margin-top: 12px;
	letter-spacing: 1px;
}
.btn-navbar{
	border: 1px solid rgba(255,255,255,.3);
	border-radius: 3px;
	font-family: 'Lato',sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #FFFFFF;
	background: none;
	text-transform: uppercase;
	margin-right: 5px;
	letter-spacing: 1px;
}
.btn-navbar:hover,.btn-navbar:focus,.btn-navbar:active{
	outline: 0 !important;
	background: rgba(0,0,0,.1) !important;
	color:#fff !important;
	border:rgba(255,255,255,0.3) solid 1px !important;
}
.user-icon,.user-icon:active,.user-icon:focus,.user-icon:hover{
	outline: 0;
	border: none !important;
	background: none !important;
	color:#fff !important;
}
#image-viewer{
	float: left;
    width: calc(100% - 295px);
    height: calc(100vh - 60px);
}
#window-container{
	float: right;
	width: 280px;
	height: calc(100vh - 60px);
	overflow: auto;
}
.add-new{
	text-transform: uppercase;
    background: #F5F5F5;
    color: #4A4A4A;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    font-family: 'Lato',sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-top: -4px;
    padding: 6px 12px;
    font-weight: 500;
}
.add-new:hover,.add-new:focus{
	background: #f0f0f0;
	outline: 0;
}
.feature-box{
	border-radius: 4px;
    font-size: 12px;
    font-family: 'Lato',sans-serif;
    letter-spacing: 1px;
    color: #333;
    margin: 5px 0;
    border: #ddd solid 1px;
    background: #fff;
    border-left:#ddd solid 3px;
    min-height: 28px;
}
.feature-box:hover,.feature-box.active{
	border: #aaa solid 1px;
	cursor: pointer;
    border-left:#aaa solid 3px;
}
.feature-box button,.btn-annotation-verification,.verified-annotation-box button,.btn-instance-verification,.btn-series-verification,.verified-instance-box button{
	color:#000;
	font-weight: 300;
	border: none;
	background:none;
	letter-spacing: 1px;
    font-size: 0.8em;
}
.feature-box button:hover,.btn-annotation-verification:hover,.verified-annotation-box button:hover,.btn-instance-verification:hover,.btn-series-verification:hover,.verified-instance-box button:hover{
	outline: 0;
	color:#333;
    background: #eee;
}
.feature-box button:focus,.btn-annotation-verification:focus,.verified-annotation-box button:focus,.btn-instance-verification:focus,.btn-series-verification:hover,.verified-instance-box button:focus{
	outline: 0;
}
.feature-box input{
	outline: 0;
    color: #aaa;
    border: #ddd solid 1px;
    padding: 3px;
}
.btn-submit{
	background: #eee !important;
    color: #333 !important; 
    border:#ccc solid 1px !important;
    font-size: 12px;
    letter-spacing: 1.2px;
}
.btn-submit:hover{
	border-color: #ccc;
}
#thumbnail-panel {
    padding: 15px;
    min-height: 80px;
    white-space: nowrap;
    overflow-x: auto;
    background: #fff;
}
.img-thumbnail-small, .add-scans {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    margin-bottom: 5px;
}
.img-thumbnail-small .img128 {
    height: 40px;
    width: 40px;
}
.slice-number-icon {
    position: absolute;
    bottom: -18px;
    left: 14px;
    color: #000;
    display: inline-block;
    font-size: .7em;
    font-weight: bold;
}
.img-thumbnail-small.active{
	border-bottom:#f00 solid 3px;
}
.slice-number-icon.active{
	color: #f00;
}
.btn-annotation-verification.active,.btn-annotation-verification.active:hover,.btn-instance-verification.active,.btn-instance-verification.active:hover,.btn-series-verification.active,.btn-series-verification.active:hover {
    background: #000 !important;
    border-color:#000 !important;
    color: #fff !important;
    outline: 0!important;
}
.top-mark{
	position: absolute;
	top:-5px;
	width:50%;
	height:4px;
}
.top-mark.tagged{
	left:0px;
	background: #42A5F5;
}
.top-mark.series{
	left:33.3%;
	background: #50E3C2;
}
.top-mark.instance{
	left:50%;
	background: #F6A623;
}
#loader-div
{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background: #f1f2f3;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    z-index: 6000;
}
#new-tag,#new-tag-v
{
    position: absolute;
    top: 371px;
    background: #fff;
    padding-bottom:10px;
    border-radius: 3px;
    left: 800px;
    z-index: 2001;
    font-family: 'Poppins';
    font-weight: 300;
    display: none;
    width: 400px;
}
#tag-options
{
    text-transform: capitalize;
}
.draggable
{
    height: 10px;
    width: 100%;
    background-image: linear-gradient(90deg, #1269b1 -20%, #223E73 60%);
}
.draggable:hover
{
    cursor: move;
}
#instance-tag-box-v,#instance-tag-box,#series-tag-box{
	font-family: 'Poppins';
    font-weight: 300;
    position: absolute;
    top:50%;
    left:50%;
    background: #fff;
    display: none;
    box-shadow: rgba(0,0,0,.1) 1px 1px 10px 0px;
    z-index: 5;
}
.modal-dialog {
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  padding:30px 80px;
}
.modal
{
    top:-1px;
    z-index: 6000;
    padding-left: 0 !important;
    font-weight: 300;
    font-family: 'Poppins';
}
.modal-footer
{
    padding-top:0;
}
.modal-header,.modal-footer
{
    border:none;
}
.modal-header h4
{
    font-weight: 400;
}
select {
    font-size: 0.9em;
    outline: 0;
    margin-bottom: 5px;
    color: #333;
    letter-spacing: .2px;
}
input{
	outline: 0;
}
#new-tag,#instance-tag-box,#new-tag-v{
	box-shadow: rgba(0,0,0,.1) 1px 1px 10px 0px;
	letter-spacing: 1;
}
#new-tag button, #instance-tag-box button {
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-size: 14px;
    padding: 3px 6px;
    font-weight: 400;
    font-family: Poppins;
    border-radius: 2px;
    outline: 0;
    border: none;
    color: #42A5F5;
}
#new-tag button:hover, #instance-tag-box button:hover,#new-tag button:focus, #instance-tag-box button:focus{
	color: #1081DE;
	background: none;
}
#dicommeta
{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    background: #000;
    font-family: 'Poppins';
    z-index: 3;
    font-size: 0.9em;
    font-weight: 100;
    line-height: 25px;
    width: 190px;
}
#loader-div .progress{
    height: 3px;
}
#loader-div .progress-bar{
    background-color: #000;
}
#msg-loader {
    color: #222;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 300;
}
.glow{
    animation-name: glow-effect;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease;
}
@keyframes glow-effect{
    0%{transform: rotate(0deg);border-color: #1081de}
    25%{transform: rotate(90deg);border-color:#ff9800;}
    50%{transform: rotate(180deg);border-color: #00bcd4}
    75%{transform: rotate(270deg);border-color: #f44336}
    100%{transform: rotate(360deg);border-color: #1081de}
}
.load-error{
    color: #999;
    letter-spacing: 2px;
    font-weight: 200;
}
.window-header{
    color: #333;
    font-size: 15px;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 5px 0;
    margin-bottom: 0;
    border-bottom: #eee solid 1px;
    padding: 10px;
    padding-bottom: 15px;
}
.pd10{
    padding:10px;
}
.elips{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 8px;
}
.window-panel{
    overflow:auto;
    box-sizing:border-box;
    background: #fff;
    border-left:#fff solid 5px;
    box-shadow: #bbb 0px 1px 5px;
}
.custom-tooltip + .tooltip > .tooltip-inner {
    letter-spacing:2px;
    padding:5px 10px;
    max-width:300px;
    color:#fff;
    background-color: rgba(0,122,254,.85);
    font-weight: 300;
}
.custom-tooltip + .tooltip > .tooltip-arrow { border-left-color:rgba(0,122,255,.85) !important; }
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
/*#series-normal.active{
    background: #1cdc57!important;
    color:#fff!important;
}*/
.nv-txt{
    border-radius:3px;
    background:#fff;
    font-weight:400;
    color:#1081de;
    border: #fff solid 1px;
    padding: 6px 10px;
    margin: 12px 10px 0 15px;
}
/*#series-normal {
    display: none;  
}*/
/*#series-normal:active + .toggle i {
    width: 35px;
}*/

/*#series-normal:active + .toggle label,
#series-normal:checked + .toggle label {
    border: 16px solid #4cd964;
}

#series-normal:checked + .toggle i {
    left: 21px;
}

#series-normal:checked:active + .toggle label {
    border: 16px solid #e5e5e5;
}

#series-normal:checked:active + .toggle i {
    left: 14px;
}
.toggle {
    position: absolute;
    display: inline-block;
    margin-left: 75px;
    margin-top: -6px;
}

.toggle label,
.toggle i {
    box-sizing: border-box;
    display: block;
    background: #ffffff;
}

.toggle label {
    width: 51px;
    height: 32px;
    border-radius: 32px; 
    border: 2px solid #e5e5e5;
    transition: all 0.30s ease;
}

.toggle i {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
                0 3px 3px 0 rgba(0,0,0, 0.15);
    background: #ffffff;
    transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
}*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #000;
    border: #f5f5f5 solid 1px;
    background: #F5F5F5;
    font-weight: 400;
}

.nav-pills>li>a,.nav-pills>li>a:hover {
    border-radius: 0px;
    color:#aaa;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 0.9em;
    border:transparent solid 1px;
}
.nav-pills>li>a:hover{
    border:transparent solid 1px;
    color:#000;
    background: none
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 4px 6px;
}
.nav.nav-pills{
    margin:0px;
    border-bottom: #F5F5F5 solid 1px;
}
.verified-annotation-box,.verified-instance-box {
    margin: 10px;
    background: #fff;
    margin-top: -5px;
    font-size: 12px;
    font-family: 'Lato',sans-serif;
    letter-spacing: 1px;
    color: #333;
    border:transparent solid 1px;
    border-left: #ddd solid 3px;
    border-radius: 0 0 4px 4px;
    border-top:none;
    min-height: 27px;
}
.verified-annotation-box:hover,.verified-instance-box:hover{
    border: #aaa solid 1px;
    cursor: pointer;
    border-left: #aaa solid 3px;
    border-top:none;
}
.lbg3,.lbg3:hover,.lbg3:focus{
    border-left:#0f0 solid 3px;
}
.btn-group button{
    border:#aaa solid 1px;
}
.feature-box .elips{
    width:35%;
    float:left;
}
.series-validation-btn.active,.series-validation-btn.active:hover{
    background: #000;
    color:#fff;
}
.verification-done {
    position: absolute;
    right: 0;
    bottom: -2px;
}
#tt, #tv {
    width: 30px;
    background: none;
    border: none;
    color: #1081de;
    padding: 0;
}
.tag-counter{
    margin-left:0;
}
.btn-valid.active,.btn-valid.active:hover,.valid-instance.active,.valid-instance.active:hover{
    background: #0f0;
    border-radius: 4px;
}
#wait-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    z-index: 10000;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 100;
    letter-spacing: 3px;
}