@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('/static/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('/static/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('/static/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('/static/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('/static/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('/static/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-check:before {
  content: "\f00c";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.navbar-text{
    text-transform: none !important;
}
input[type="number"] {
    width: 38px;
}
::-moz-selection { /* Code for Firefox */
    color: none;
    background: none;
}

/*::selection {
    color: none; 
    background: none;
}*/
body{
    font-family:  'Poppins', sans-serif;
    margin:0;
    background: #000;
    *overflow: hidden;
    font-size: 16px;
    overflow-x: hidden;
    font-weight: 300 !important;
    padding-top: 50px;
    -webkit-font-smoothing: antialiased;
}
select{
    font-size: 0.8em;
    margin-bottom: 8px;
    outline: 0;
}
.left-menu
{
    position: fixed;
    height:100%;
    background: #fff;
    padding: 0;
    *box-shadow: #ddd 2px 0px 5px;
    border-right: #dedede solid 1px;
}
.user-name
{
    width: 100%;
    background: #1081DE;
    margin: 0;
    line-height: 100px;
    color: #fff;
    font-weight: 100;
    /* text-align: center; */
    font-size: 16px;
    padding-left: 20px;
    text-transform: capitalize;
}

.left-menu-ul
{
    margin-top:50%;
}

.left-menu-ul>li>a
{
    color:#555;
    border-left: transparent solid 5px;
    letter-spacing: 1px;
    font-weight: 300;
}
.left-menu-ul>li>a:hover,.left-menu-ul>li>a:focus
{
    border-radius: 0;
    background-color: #efefef;
    border-left: transparent solid 5px;
}
.left-menu-ul>li.active>a, .left-menu-ul>li.active>a:focus, .left-menu-ul>li.active>a:hover
{
    background-color:#eee;
    border-radius:0;
    color:#1081DE;
    border-left:#1081DE solid 5px;
}

.Aligner {
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding-top:50px;
    *display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.Aligner-item {
  *max-width: 50%;
}
.upload-area
{
    color:#555;
    border-radius: 5px;
    border:#ccc dashed 1px;
    padding:80px;
}
#upload-btn
{
    display: none;
}
#upload-btn:focus
{
    outline: 0;
}
#upload-btn.active
{
    display: block;
    position: fixed;
    right: 2%;
    bottom: 2%;
    font-weight: 300;
}
.upload-area:hover
{
    cursor: pointer;
}
#image-container
{
    position:relative;
    padding: 0;
    background:#000;
}
#indication-box
{
    height:600px;
    background:#fff;
    border-radius: 4px;
    overflow: auto;
}
h1,h2,h3,h4,h5,h6
{
    font-weight: 300;
    margin:0;
}
.dz-image,.dz-image-preview
{
    display: inline-block;
}
.dz-image-preview img
{
    border:#aaa solid 1px;
    margin:4px;
    height: 64px;
    width:64px;
}
.dz-details,.dz-progress,.dz-error-message,.dz-success-mark,.dz-error-mark
{
    display: none
}

/*.dz-preview
{
    display: none;
}*/
.helper
{
    margin-bottom: 10px;
}
.btn:active,.btn:focus
{
    outline: none
}
a.dz-remove {
    color: #fff;
    margin-left: 60px;
    background: rgba(0,0,0,.3);
    padding: 2px 6px;
    border-radius: 50%;
    margin-top: -75px;
    position: absolute;
    font-size: 0.5em;
}
#main-view.draggable
{
    background: none
    /*height:600px;
    width: 800px;*/
}
#main-view.draggable:hover{
    cursor: default;
}
.main-view-wrapper{
    position: relative;
    border:#333 solid 1px;
    overflow: hidden;
    margin:auto;
}
#main-view.full-screen
{
    position:fixed;
    top:0;
    left:0;
    background:#000;
    z-index:2000;
    padding: 20px 0;
}
.img-thumbnail-small,.add-scans
{
    display: inline-block;
    border:#555 solid 1px;
    position: relative;
    margin-right:5px;
    margin-bottom: 5px;
}
.add-scans
{
    padding: 9px 15px;
    color:#aaa;
}
.img-thumbnail-small:hover,.add-scans:hover
{
    cursor: pointer;
}
.img-thumbnail-small.marked{
    border-top:#1081de solid 2px !important;
}
.img-thumbnail-small.active
{
    border: #F00 solid 1px;
    *box-shadow: #1081DE 0px 1px 3px;
}
/*.img-thumbnail-small.active::before {
    width: 0;
    height: 0;
    position: absolute;
    top: -8px;
    left: 50%;
    border-bottom: #1081DE solid 8px;
    display: block;
    content: '';
    border-left: transparent solid 8px;
    border-right: transparent solid 8px;
    margin-left: -8px;
}
.img-thumbnail-small.active::after {
    width: 0;
    height: 0;
    position: absolute;
    top: -7px;
    left: 50%;
    border-bottom: #f5f5f5 solid 7px;
    display: block;
    content: '';
    border-left: transparent solid 7px;
    border-right: transparent solid 7px;
    margin-left: -7px;
}*/

.img-thumbnail-small .zmdi-hc-stack
{
    position: absolute;
    font-size: 0.7em;
    bottom: 0px;
    right: 0px;
}
.img-thumbnail-small .img128
{
    height:32px;
    width:32px;
}
.circle-green
{
    color: #59B400;
}
.circle-orange
{
    color: #FF6D13;
}
.img-thumbnail-small .zmdi-check,.img-thumbnail-small .zmdi-close
{
    color:#fff;
    font-weight: 300;
}

.status-btn .zmdi-check,.status-btn .zmdi-close
{
    color:#fff;
}
.status-btn .zmdi-hc-stack
{
    font-size: 0.75em;
}
.status-btn
{
    margin-top: -3px;
    border-radius: 0;
    color:#aaa;
    font-size: 1.1em;
    background: #f0f0f0;
    filter: grayscale(1);
    border-radius: 2px;
}
.btn:active:focus
{
    outline: 0 !important;
}
.status-btn:hover,.status-btn.active,.status-btn.active:hover,.status-btn.active:active,.status-btn.active:focus
{
    outline: 0;
    color: #000;
    box-shadow: none;
    filter: grayscale(0);
    background:#fff;
}
.checkbox-info input[type="checkbox"]:checked + label::before, .checkbox-info input[type="radio"]:checked + label::before
{
    background-color: #1081DE;
    border-color: #1081DE;
}
.checkbox input[type="checkbox"]:focus + label::before, .checkbox input[type="radio"]:focus + label::before
{
    outline: none;
}
.checkbox label::before
{
    border-radius: 0;
    margin-top: 0;
}
.text-uppercase
{
    text-transform: uppercase;
}
.fb-btn
{
    font-weight: 300;
    font-size: 0.8em;
}
.tool-box-expanded
{
    position: absolute;
    right: 100%;
    top: 0;
    width: 150px;
    border-radius: 3px 0 0 3px;
    background: #f5f5f5;
    padding: 10px;
    padding-top: 9px;
    min-height: 172px;
    display: none;
}
.save-image-box
{
    /*position: absolute;
    right: 10px;
    top: 10px;
    padding: 4px 8px;
    color: #fff;
    font-size: 1em;
    letter-spacing: 2px;
    border: #555 solid 1px;
    border-radius: 2px;*/
    z-index:3000;
}
.save-image-box.full-screen
{
    position: fixed;
    top: 10px;
    right: 27%;
}

.save-image-box:hover
{
    cursor: pointer;
    /*background: #ccc;
    color:#000;*/
}
.tool-box
{
    position: absolute;
    right: 15px;
    top:70%;
    background: #fff;
    display: inline-block;
    z-index: 3500;
}
.tool-box.full-screen
{
    position: fixed;
    right:10px;
    bottom:10px;
}
.tool-box ul
{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.tool-box ul li {
    color:#1081DE;
    padding: 10px;
    text-align: center;
    border-bottom: #ddd solid 1px;
}

.tool-box ul li.active
{
    background: #1081DE;
    border-bottom: #1081DE solid 1px;
    color:#fff;
}
.tool-box ul li:hover
{
    /*background: #1081DE;
    color:#fff;*/
    cursor: pointer;
}
.tool-box ul li:last-child {
    border-bottom: none !important;
}
.tool-box ul li.active:last-child:hover {
    border-bottom: none !important;
}
th
{
    border-bottom: none !important;
    font-weight: 300 !important;
    text-transform: uppercase !important;
}
.img32
{
    height: 32px;
    width: 32px;
    display: inline-block;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border:#ccc solid 1px;
}
table
{
    font-weight: 300;
    letter-spacing: 1px;
}
td
{
    vertical-align: middle !important;
}
#thumbnail-panel
{
    padding:10px;
    margin-top:10px;
    min-height:80px;
    white-space: nowrap;
    overflow-x: auto;
    background: #fff;
}
#loader-div
{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background: rgba(255,255,255,1);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: none;
    overflow: hidden;
    z-index: 6000;
}
.checkbox label
{
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 1px;
}

.slider_contrast,.slider_brightness,.slider_precision
{
    display: inline;
    margin-top:15px;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    *width: 310px;
    height: 3px;
    background: #ccc;
    border: none;
    
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 13px;
    width: 13px;
    border-radius: 100%;
    background: #1081DE;
    margin-top: -5px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #aaa;
}
.reset-filter
{
    margin-top: 18px;
    font-size: 11px;
}
.precision_meter
{
    margin-top:1px;
    z-index:inherit;
}
.precision_meter.full-screen
{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2001;
}
.precision_meter .btn.active
{
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.precision_meter .btn.active:focus
{
    outline: 0;
}
#zoom-view{
    background:#000;
    height:250px;
    width:300px;
    position:absolute;
    border:#777 solid 1px;
    margin-right:4px;
    margin-top:4px;
    margin-left: 0;
    z-index: 2200;
}
.edit-report-style
{
    color:#555;
    border: #ddd solid 1px;
    padding: 2px 10px;
    border-radius: 4px
}
.edit-report:hover
{
    cursor: pointer;
    color:#000;
    background: #fff !important;
    /*border-bottom: none !important;
    border-top:none !important;*/
    transition: none
}
.delete-report
{
    color:#aaa;
    border: #ccc solid 1px;
    padding: 2px 10px;
    border-radius: 4px
}
.delete-report:hover
{
    cursor: pointer;
    color:#fff;
    border:#f00 solid 1px;
    background: #f00;
}
.input-box
{
    position: absolute;
    background: #fff;
    box-shadow: #aaa 0 0 3px;
    border-radius:2px;
    top:50px;
    left:50px;
    font-size: 0.9em;
    display: none;
    z-index:2100;
    min-width: 180px;
    max-width: 300px;
}
.input-box ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.input-box ul li
{
    padding:10px 15px;
    border-bottom:#ddd solid 1px;
    color:#999;
    font-weight:300;
    letter-spacing: 2px;
}
.input-box ul li:last-child
{
    border-bottom: none
}
.input-box ul li:hover
{
    background: #eee;
    cursor: pointer;
}
.modal-dialog {
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  padding:30px 80px;
}
.modal
{
    top:-1px;
    z-index: 6000;
    padding-left: 0 !important;
    font-weight: 300;
}
.modal-footer
{
    padding-top:0;
}
.modal-header,.modal-footer
{
    border:none;
}
.modal-header h4
{
    font-weight: 400;
}
textarea
{
    width:100%;
    height:150px;
    resize: none;
    border:#ccc solid 1px;
    border-radius: 3px;
    margin-top:10px;
    padding:10px;
    color:#777;
    font-size: 0.9em;
    font-weight: 300;
}
textarea:focus:active,textarea:active:focus,textarea:focus
{
    outline: 0 !important;
}
input:focus
{
    outline: 0 !important;
}
.feedback-status-btn
{
    border:none;
    color:#fff;
    font-weight: 300;
    opacity: 0.5;
    filter:grayscale(1);
}
.feedback-status-btn:hover,.feedback-status-btn:active,.feedback-status-btn:focus
{
    color:#fff;
}
.feedback-status-btn.selected
{
    opacity: 1;
    filter: grayscale(0);
}
.bootstrap-tagsinput
{
    box-shadow: none;
    margin-top:10px;
    width:100%;
    height: 150px;
    padding:10px;
    font-size: 0.95em;
    font-weight: 300;   
}
.bootstrap-tagsinput input
{
    width:100%;
    padding:0;
    margin-top: 6px;
    font-size:0.95em;
}
.label-info
{
    background: #1081DE;

}
.bootstrap-tagsinput .tag
{
    display: inline-block;
    padding:10px;
    margin-bottom: 5px;
    font-weight: 300;
    text-transform: uppercase;
}
#workshop-nocontent
{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    color:#555;
}
.status-text
{
    color: #aaa;
    font-weight: 300;
    font-size: 12px;
}
#btn-save-reportname
{
    font-weight: 300;
}
#reportName,#selfPatientId,#reportNotes
{
    font-weight:300;
    padding:5px 10px;
    border-radius:4px;
    font-size:0.95em;
    border:#ddd solid 1px;
}
#selfPatientId
{
    background: #F5F5F5;
    color:#bbb;
}
.full-screen-btn,.full-screen-btn.active
{
    font-size: 1.3em !important;
    text-align: center;
    background: #000 !important;
    color:#fff !important;
    border-bottom:none !important;
}
#tag-suggestion-box
{
    display: none;
    position: absolute;
    padding:20px;
    width: 100%;
    background: #eee;
    height:210px;
    overflow: auto;
    box-shadow: #eee 0 5px 10px;
    border: #ddd solid 1px;
    border-top:none;
    font-size: 0.9em;
}
#tag-search-box
{
    font-size:0.9em;
    width:100%;
    padding:8px;
    border:#ccc solid 1px;
    border-radius:3px;
}
#tag-suggestion-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#tag-suggestion-box ul li {
    padding: 5px 10px;
    margin-bottom: 4px;
    border: #ddd solid 1px;
    background: #fff;
    border-radius: 4px;
}
#tag-suggestion-box ul li:hover
{
    cursor: pointer;
    border: #aaa solid 1px;
    box-shadow: #ddd 1px 1px 2px;
}

.feedback-preview
{
    padding: 10px;
    font-size: 1em;
    color: #777;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 0px;
}
.slider-panel
{
    margin: 0;
    font-size: 14px;
    color: #ccc;
    padding: 10px 0;
    /*border-bottom: #eee solid 1px;
    background: #fff;*/
    font-weight: 300;
    letter-spacing: 1px;
}
#report-detail-btn
{
    padding: 5px 10px;
    border: #ccc solid 1px;
    background: #fff;
    color: #000;
    font-weight: 300;
    letter-spacing: 0;
    position: relative;
    font-size: .8em;
    margin-right: 10px;
    border-radius: 4px;
    margin-top: 1px;
}

#report-detail-btn:hover
{
    cursor: pointer;
}
#report-detail-dropdown
{
    display: none;
    position: absolute;
    padding:10px 20px;
    background: #eee;
    color:#555;
    left: -1px;
    top: 100%;
    z-index: 10;
    border: #ccc solid 1px;
    border-radius: 0 0 4px 4px;
    padding-top: 40px;
}
#report-detail-dropdown:hover
{
    cursor: default !important;
}
#report-detail-dropdown::after
{
    content: '';
    position: absolute;
    top: -1px;
    left: 49px;
    height: 0;
    width: 0;
    background: none;
    display: block;
    box-sizing: content-box;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;

}
#report-detail-dropdown::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 48px;
    height: 0;
    width: 0;
    background: none;
    display: block;
    box-sizing: content-box;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ccc;
}

#instance-tag-box{
    position: fixed;
    top:50%;
    left:50%;
    background: #fff;
    display: none;
}

#report-detail-dropdown input {
    width: 300px;
}
#report-detail-dropdown textarea
{
    height:150px;
    margin-top: 0 !important;
}
.disable
{
    cursor: not-allowed !important;
    opacity:0.5 !important;
}
#reportNameInput
{
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: #fff solid 1px;
    font-weight: 300;
    font-size: 0.8em;
    display: none;
}
#reportNameInput.error
{
    border: rgba(255,0,0,.3) solid 1px;
    position: relative;
    animation-name: example;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
}
.btn
{
    font-weight: 300;
}
.slider_btn:hover,.slider_btn.active
{   
    cursor: pointer;
    color:#000;
    font-weight: 700;
}
.slider_btn {
    color: #aaa;
    font-size: 0.9em;
}
.custom-tooltip + .tooltip > .tooltip-inner {
    letter-spacing:1px;
    padding:5px 10px;
    max-width:400px;
    background-color: #000 !important;
    font-weight: 300;
}
.custom-tooltip.down + .tooltip > .tooltip-arrow { border-bottom-color:#000 !important; }
.custom-tooltip.left + .tooltip > .tooltip-arrow { border-left-color:#000 !important; }
.custom-tooltip.top + .tooltip > .tooltip-arrow { border-top-color:#000 !important; }
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
@keyframes example {
    0% {left:0px;}
    30% {left:20px;}
    40% {left:-45px;}
    70% {left:15px;}
    80% {left:-5px;}
    90% {left:5px;}
    100% {left:0px;}
}

@keyframes placeHolderShimmer{
    0%{
        background: #eee
    }
    50%{
        background: #ddd;
    }
    100%{
        background:#eee;
    }
}

.animated-background {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
}
.form-control
{
    border-radius:2px;
    box-shadow: none;
    padding:2px 4px;
}
.form-control:active,.form-control:focus
{
    outline: 0;
    box-shadow: none;
}
#filter-box
{
    padding: 20px 10px;
    background: #fff;
    display: none;
    position: absolute;
    width: 60%;
    right: 34px;
    box-shadow: #ddd 1px 2px 3px;
    border-radius: 4px;
    border: #ddd solid 1px;
    padding-bottom: 40px;
    color:#555;
    letter-spacing: 2px;
}
#filter-box::before
{
    content: ' ';
    position: absolute;
    border-bottom: #ddd solid 12px;
    width: 0;
    height: 0;
    border-left: transparent solid 12px;
    border-right: transparent solid 12px;
    right: 98px;
    top: -12px;
}
#filter-box::after
{
    content: ' ';
    position: absolute;
    border-bottom: #fff solid 10px;
    width: 0;
    height: 0;
    border-left: transparent solid 10px;
    border-right: transparent solid 10px;
    right: 100px;
    top: -10px;
}
#filter-box h5
{
    margin-bottom:8px;
}
#reportsTable
{
    margin-top: 70px;
}
.navbar .nav>li>a
{
    color:#fff;
}
.navbar .nav>li>a:focus, .navbar .nav>li>a:hover
{
    background: none;
    color:#fff;
}
.navbar-text
{
    color: #fff;
    text-transform: capitalize;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
    border:none;
}
#btn-refresh-report-list
{
    display: none;
}
.checkbox {
    position: relative;
    display: block;
    margin-top: 0px;
    margin-bottom: 5px;
}
#original-img-container
{
    position: fixed;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    top:0;
    left:0;
    background: #aaa;
    z-index: 1030;
    padding-top:10px;
    padding-bottom:40px;
    display: none;
}
span.tags-preview {
    display: inline-block;
    padding: 2px 4px;
    border: #aaa solid 1px;
    margin-right: 2px;
    border-radius: 2px;
    font-size: 0.9em;
}
#info-box
{
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    padding: 15px;
    font-size: 0.8em;
    width: 400px;
    z-index: 3002;
    *box-shadow: #1081de 0px 0px 3px;
    border-radius: 4px;
    border: #ccc solid 1px;
    display: none;
    padding-top: 25px;
}
.help:hover + #info-box
{
    display: block
}
#info-2
{
    width:100%;
    padding: 15px;
    font-size: 0.8em;
    color: #555;
    position: relative;
    z-index: 10000;
    display: none
}
.left-info
{
    width:100%;
    padding: 15px;
    font-size: 0.8em;
    color: #555;
    position: relative;
    z-index: 10000;
    display: none;
}
#report-name
{
    font-size: 0.9em;display: inline-block;margin-top: 6px;font-weight: 500;margin-right: 10px;
}
#close-tool-box
{
    position: absolute;
    top: -6px;
    left: -6px;
    color: #000;
    background: #f5f5f5;
    padding: 3px 5px;
    border-radius: 50%;
    box-shadow: #555 0 0 2px;
    font-size: 0.7em;
}
.sort-btn:hover {
    cursor: pointer;
    color: #000;
}
.sort-btn {
    font-weight: 300;
    font-size: 1.1em;
}
.close-input-box
{
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: 1.5em !important;
    color:rgba(255,0,0,.8);
}
.close-input-box:hover
{
    cursor: pointer;
}
.bootstrap-tagsinput
{
    display: none !important;
}
.notes-container
{
    *padding:10px;
    color:#666;
    font-size: 0.8em;
    margin-top:15px;
    min-height:40px;
    max-height: 250px;
    overflow: auto;
}
.notes-item {
    background: #f5f5f5;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 2px;
    color: #000;
    margin-right: 5px;
}
.notes-item .note-date
{
    color:#a0a0a0;
    font-size: 0.8em;
}
.info-3
{
    position: fixed;
    height: 200px;
    width: 35%;
    top:60%;
    left:15px;
    padding: 15px;
    margin-left: -15px;
    font-size: 0.75em;
    margin-top:-20px;
    z-index: 8000;
    display: none;
}
.show-info-3{
    z-index: 8000;
}
.show-info-3:hover
{
    cursor: default;
}
#general-alert {
    position: fixed;
    margin: auto;
    z-index: 5000;
    bottom: 50px;
    left: 50%;
    display: none;
}
.sort-btn
{
    color:#777;
}
.sort-btn:hover
{
    color:#000;
}
.sort-btn.active
{
    color: #1081DE;
}
#original-image-full-screen
{
    position: fixed;
    top:10px;
    left:10px;
    background: rgba(0,0,0,.5);
    color:white;
    z-index: 10000;
    padding: 5px;
    font-size: 0.8em;
    border-radius:4px;
    display: none;
    letter-spacing: 1px;
}
#original-image-full-screen:hover
{
    background: rgba(0,0,0,1);
    cursor: pointer;
}
#new-tag
{
    position: absolute;
    top: 371px;
    background: #fff;
    padding-bottom:10px;
    border-radius: 3px;
    left: 800px;
    z-index: 2001;
    display: none;
}
.image-check
{
    background:#10de81;
    border-radius:50%;
    padding:1px 3px;
    position:absolute;
    right:-5px;
    bottom:-5px;
}
.hide
{
    display: none;
}
/*#intro-background
{
    position: fixed;
    width: 100%;height: 100%;
    top: 0;
    z-index: 4000;
    background: rgba(0,0,0,.9);
    left: 0;
}*/
.new-feature
{
    position: absolute;
    top: 120%;
    left: 0;
    width: 300px;
    padding: 5px;
    font-size: 0.8em;
    border-radius: 4px;
    color: #fff;
    z-index: 2;
    background: #1081de;
    letter-spacing: 0px;
}
.new-feature::after
{
    width: 0;
    height: 0;
    position: absolute;
    top: -5px;
    left: 15px;
    border-bottom: #1081de solid 6px;
    display: block;
    content: '';
    border-left: transparent solid 6px;
    border-right: transparent solid 6px;
}
.new-feature label {
    font-weight: 100;
    margin-top: 5px;
    margin-left: 5px;
}
.new-feature label:hover
{
    cursor: pointer;
}
.new-feature button.btn.btn-sm.btn-default {
    font-size: 0.8em;
    background: none;
    border: #fff solid 1px;
    color: #fff;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
{
    background: #1081DE;
}
.pagination>li>a, .pagination>li>span
{
    background-color: #F5F5F5;
}
#dicommeta
{
    position: fixed;
    top:75px;
    left:15px;
    background:#000;
    color:#fff;
}
#layer-box
{
    font-size:0.8em;
    z-index:4;
    position:absolute;
    left:5px;
    color:#333;
    top:20%;
    left:15px;
    height:400px;
    width:215px;
    background:#fff;
}
.slice-number-icon
{
    position: absolute;
    bottom: -18px;
    left: 10px;
    color: white;
    display: inline-block;
    font-size: .7em;
    font-weight: bold;
}
.slice-number-icon.active
{
    color:red;
}
#navigation-group{
    position: fixed;
    right:15px;
    top:70px;
    padding: 5px;
    background: #fff;
    border-radius: 4px;
}
#navigation-group .btn{
    text-transform: uppercase;
    font-weight:500;
}
.annotation-item .btn,.annotation-item .btn:focus
{
    outline: 0;
    padding: 2px 4px;
    font-size: 0.85em;
    letter-spacing: 1px;
    -webkit-font-smoothing: subpixel-antialiased;
    border: #ddd solid 1px;
}

/*.btn-delete {
    border: #f00 solid 1px;
    color: #f00;
}
.btn-delete:hover
{
    color:#fff;
    background:#f00;
    border:#f00 solid 1px;
}*/
#tag-options
{
    text-transform: capitalize;
}
.draggable
{
    height: 10px;
    width: 100%;
    background: #607D8B;
}
.draggable:hover
{
    cursor: move;
}
.annotation-item
{
    color:#333;
    padding:5px;
    background:#eee;
    margin-bottom:5px;
    border-radius:3px;
    border:#ddd solid 1px;
}
.annotation-view{
    margin-top: -5px;
}
.annotation-view:hover
{
    cursor: pointer;
}

#instance-box{
    position: fixed;
    width:215px;
    top:20%;
    right:15px;
    background: #fff;
}

#slice-level-box{
    position: fixed;
    display: none;
    width:270px;
    top:20%;
    right:1px;
    background:#fff;
    max-height:400px;
}
label.radio-inline input {
    margin-top: 1px;
}
.ques-box
{
    padding: 4px;
    font-size: 0.8em;
    background: #eee;
    border-radius: 3px;
    margin-bottom:5px;
}
.show-more-btn {
    font-weight: bold;
    color: #333;
}
.show-more-btn:hover
{
    cursor: pointer;
}
#added-instance-box {
    height: 280px;
    overflow: auto;
}
.instance-item {
    padding: 5px;
    font-size: 0.8em;
    border-radius: 4px;
    border: #ccc solid 1px;
    background: #eee;
    margin-bottom: 5px;
}
.instance-item .btn {
    padding: 2px 4px;
}
.btn-annotation-verification.active,.btn-annotation-verification.active:hover,.btn-annotation-verification.active:focus{
    background: #000;
    color:#fff;
    border: #000 solid 1px;
}