{%- if current_user.is_authenticated -%}
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form class="navbar-form navbar-left" role="search" action="/search">
      <div class="form-group">
        <input autofocus type="text" class="form-control" placeholder="Search" name="q">
      </div>
      <button type="submit" class="btn btn-default btn-sm">Search</button>
    </form>
    <ul class="nav navbar-nav">
      <li><a href="#">Upload</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">{{current_user.name}}</a></li>
      <li><a href="#">{{current_user.email}}</a></li>
      <li><a href="{{url_for('logout')}}"><img src="{{current_user.avatar}}?sz=20" width="20" height="20" alt="{{current_user.name}}">Logout</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
{%- else -%}
<a href="{{url_for('login')}}" class="btn btn-primary btn-block" style="padding: 15px 0;">Login</a>
{%- endif -%}