<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/static/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>DIAGNOSIS CLOUD</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/static/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/static/assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/static/assets/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/static/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>
{%- if current_user.is_authenticated -%}
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/static/assets/img/sidebar-5.jpg">

        <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        DIAGNOSIS CLOUD
                    </a>
                </div>

                
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                               <a href="">
                                   <p>{{current_user.name}}</p>
                                </a>
                            </li>
                            <li>
                                <a href="{{url_for('logout')}}">
                                    <p>Log out</p>
                                </a>
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                    </div>
                </div>
            </nav>


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                		<div class ="col-md-4"> </div>
                        <div class="col-md-4">
                        	           <div class="card card-user">
                            <div class="image">
                
                            </div>
                            <div class="content">
                                <div class="author">
                                     <a href="#">
                                    <img class="avatar border-gray" src="" alt="..."/>

                                      <h4 class="title">{{current_user.name}}<br />
                                         <small>{{current_user.email}}</small>
                                      </h4>
                                    </a>
                                </div>
                                <br>
                                <p class="description text-center"> 
                                	You are not registered with Diagnosis.io or your account is not activated.
                                </p>
                                <p class="text-center">
                                	<a text-center target="_blank" href="{{url_for('requestactivation')}}" class="btn btn-round btn-fill btn-info">Request Activation</a>
                                </p>
                                <br>
                                <br>
                                <p class="description text-center">Still not activated?</p>
                                <p class="description text-center">Contact: support@diagnosis.io</p>
                            </div>
                            <hr>
                        </div>
                            
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                            
                        </div>

                        <div class="col-md-6">
                            

                        </div>
                    </div>
                </div>
            </div>


            <footer class="footer">
                <div class="container-fluid">

                    <p class="copyright pull-right">
                        &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.diagnosis.io">Diagnosis.io</a>
                    </p>
                </div>
            </footer>

        </div>
    </div>
{%- else -%}
<a href="{{url_for('login')}}" class="btn btn-primary btn-block" style="padding: 15px 0;">Login</a>
{%- endif -%}

</body>

    <!--   Core JS Files   -->
    <script src="/static/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/static/assets/js/bootstrap.min.js" type="text/javascript"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="/static/assets/js/bootstrap-checkbox-radio-switch.js"></script>

    <!--  Charts Plugin -->
    <script src="/static/assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/static/assets/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="/static/assets/js/light-bootstrap-dashboard.js"></script>

    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="/static/assets/js/demo.js"></script>

    <script type="text/javascript">
        // $(document).ready(function(){

        //     demo.initChartist();

        //     $.notify({
        //         icon: 'pe-7s-speaker',
        //         message: "Welcome to Diagnosis.io Cloud."

        //     },{
        //         type: 'info',
        //         timer: 4000
        //     });

        // });
    </script>

</html>

<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
You are not registered with Diagnosis.io.
<a href="{{url_for('logout')}}" class="btn btn-primary btn-block" style="padding: 15px 0;">Logout</a>
</body>
</html> -->
