<!doctype html>
<html>
<head>
	<title>Diagnosisio - Tagging Tool</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="icon" type="image/png" href="/static/assets/img/d_black.png">
	<link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css" />
	<link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap-tagsinput.css">

    <link rel="stylesheet" type="text/css" href="/static/assets/css/daterangepicker.css">

    <link rel="stylesheet" type="text/css" href="/static/assets/css/awesome-bootstrap-checkbox.css">

    
	<link rel="stylesheet" type="text/css" href="/static/assets/css/diagnosis.css?v=29082017">
</head>
<body>
<div id="wrapper">
	<div id="tool-box">
		<center>
		<ul>
			<li id="btn-new-series-tag"><i class="zmdi zmdi-label"></i><br/>Series Data</li>
			<li id="btn-new-instance-tag"><i class="zmdi zmdi-image"></i><br/>Slice Data</li>
			<li class="multipoint-tool"><i class="zmdi zmdi-gesture"></i><br/>New Tag</li>
			<li class="wl-ww"><i class="zmdi zmdi-tonality"></i><br>Adjust Color</li>
			<li class="invert-btn"><i class="zmdi zmdi-invert-colors"></i><br/>Invert Color</li>
			<li class="reset-color-btn"><i class="zmdi zmdi-invert-colors-off"></i><br/>Reset Color</li>
		</ul>
		</center>
	</div>
	<div id="content">
		<nav class="navbar navbar-fixed-top" style="height: 60px">
			<div class="container-fluid" style="padding-left: 10px">
				<div class="navbar-header">
					<img src="/static/assets/img/d_white.png" style="height:40px;margin:8px 0 0 0px;">
				</div>
				<ul class="nav navbar-nav navbar-right">
					<p class="navbar-text nv-txt" style="background: none;border: none;color: #fff;">{{current_user.name}}</p>
					<p class="navbar-text nv-txt" id="tagging-status"><i class="zmdi zmdi-dot-circle" style="color:#7ED321"></i> TAGGING IN PROGRESS</p>
					<p class="navbar-text nv-txt tag-counter">
						<input type="text" id="tv" value="" disabled>/
						<input type="text" id="tt" value="" disabled>
					</p>
					<div class="dropdown navbar-btn" style="display: inline-block;">
						<button class="btn btn-default btn-navbar dropdown-toggle" type="button" data-toggle="dropdown" id="report">Reports
						<span class="caret"></span></button>
						<ul class="dropdown-menu" id="reportList">
							
						</ul>
					</div>
					<button id="skip" class="btn btn-default btn-navbar">Skip</button>
					<button id="next" class="btn btn-default btn-navbar">Save & Next</button>
					<div class="dropdown navbar-btn" style="display: inline-block;margin-top: 0px;margin-bottom: 0;">
						<button class="btn btn-default dropdown-toggle user-icon" type="button" data-toggle="dropdown" aria-expanded="false"><i class="zmdi zmdi-account-circle" style="font-size: 30px;"></i></button>
						<ul class="dropdown-menu">
							<li><a href="#">My Account</a></li>
							<li><a href="{{url_for('tagging_launcher')}}">Exit</a></li>
						</ul>
					</div>
			</div>
		</nav>
		<div class="container-fluid" style="padding-top: 60px;padding-right: 0">
			<div id="image-viewer">
				<div class="main-view-wrapper" style="position: relative;">
					<div id="dicommeta">
						<div id="imageDimension"></div>
						<div id="seriesid"></div>
						<div id="sliceid"></div>
						<div id="patientId"></div>
						<div id="patientage"></div>
						<div id="patientgender"></div>
						<div id="seriesType"></div>
						<div id="hounsfield"></div>
					</div>
					<div id="main-view" style="margin-top:15px;background: #000;height: calc(100vh - 60px - 90px - 15px)">
					</div>
				</div>
				<div class="col-sm-12" id="thumbnail-panel">
				
				</div>
			</div>
			<div id="window-container">
				<div style="height:calc(22% - 15px);margin:15px 0;" class="window-panel">
					<h3 class="window-header"> SERIES DATA
					<!-- <button class="add-new pull-right" id="series-normal" style="background: #eee;color:#bbb"><i class="zmdi zmdi-check"></i> YES</button> -->
					<!-- <input type="checkbox" id="series-normal" name="" value="" disabled> -->
					</h3>
					<!-- <div class="btn-group series-validation-grp">
					  <button type="button" class="btn btn-default btn-series-verification btn-sm">Valid</button>
					  <button type="button" class="btn btn-default btn-series-verification btn-sm">Invalid</button>
					  <button type="button" class="btn btn-default btn-series-verification btn-sm">Not Sure</button>
					</div>
					<input type="checkbox" id="series-info-validate">
					<button class="btn btn-sm btn-default" id="verify-series-submit">Submit</button> -->
					<ul class="nav nav-pills">
						<li class="active my-tags"><a data-toggle="pill" href="#sertags">My Tags</a></li>
						<li class="v-tags"><a data-toggle="pill" href="#serverify">Tags to verify</a></li>
					</ul>
					<div class="tab-content" style="height:calc(100% - 80px);overflow: auto;background: #f5f5f5">
						<div id="sertags" class="tab-pane fade in active">
							<div class="pd10" id="series-info-box"></div>
						</div>
						<div id="serverify" class="tab-pane fade">
							<div class="pd10" id="series-info-verification-box"></div>
						</div>
						
					</div>
				</div>
				<div id="instance-box" style="height:calc(30% - 15px);overflow:auto;margin-bottom:15px;" class="window-panel">
					<h3 class="window-header"><i class="zmdi zmdi-circle" style="color: #F6A623"></i> SLICE DATA
					<!-- <button class="add-new pull-right hide" id="" style="background: #F6A623;color:#fff"><i class="zmdi zmdi-plus"></i> Add</button> -->
					</h3>
					<ul class="nav nav-pills">
						<li class="active my-tags"><a data-toggle="pill" href="#instags">My Tags</a></li>
						<li class="v-tags"><a data-toggle="pill" href="#insverify">Tags to verify</a></li>
					</ul>
					<div class="tab-content" style="height:calc(100% - 80px);overflow: auto;background: #f5f5f5">
						<div id="instags" class="tab-pane fade in active">
							<div class="pd10" id="added-instance-box"></div>
						</div>
						<div id="insverify" class="tab-pane fade">
							<div class="pd10" id="added-instance-box-verification"></div>
						</div>
					</div>
				</div>
				<div style="height:calc(48% - 15px)" class="window-panel">
					<h3 class="window-header"><i class="zmdi zmdi-circle" style="color: #42A5F5"></i> ANNOTATIONS
					<button class="add-new pull-right hide" id="new-tag-secondary" style="background: #42A5F5;color:#fff"><i class="zmdi zmdi-plus"></i> Add</button>
					</h3>
					<ul class="nav nav-pills">
						<li class="active my-tags"><a data-toggle="pill" href="#anntags">My Tags</a></li>
						<li class="v-tags"><a data-toggle="pill" href="#annverify">Tags to verify</a></li>
					</ul>
					<div class="tab-content" style="height:calc(100% - 80px);overflow: auto;background: #f5f5f5">
						<div id="anntags" class="tab-pane fade in active">
							<div class="pd10" id="layer-items-2"></div>
						</div>
						<div id="annverify" class="tab-pane fade">
							<div class="pd10" id="layer-items"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div id="new-tag">
	<div class="draggable"></div>
	<div style="padding: 10px">
		<select id="tag-options"></select>
		<label class="checkbox-inline" style="font-size: 0.8em"><input type="checkbox" id="annotation-condition" style="margin-top:2px">Critical</label>
		<br/>
		<select id="tag-options2"></select>
		<select id="tag-options3"></select>
		<input type="text" id="annotation-comment" style="width: 100%;margin-bottom: 8px;font-size: 0.75em;padding:2px 4px" placeholder="Enter your comments">
		<br>
		<div class="pull-left" style="font-size: 0.7em;margin-right: 5px;padding: 4px 5px;background: #eee;border-radius: 5px;">
			Copy from slice <input type="number" name="slice_start_number" style="width:50px"> to <input type="number" name="slice_end_number" style="width:50px">
		</div>
		<div class="pull-right">
		<button id="new-tag-save-btn" class="btn btn-default btn-sm">Save</button> <button id="new-tag-close-btn" class="btn btn-default btn-sm">Cancel</button>
		</div>
	</div>
</div>

<div id="series-tag-box">
	<div class="draggable"></div>
	<div style="padding: 10px">
		<select id="series-op" style="width: 200px">
			<option value="select">Please select</option>
			<option value="normal">Normal</option>
		</select><br/>
		<input type="text" id="series-comment" style="width: 100%" placeholder="Enter comment">
		<div class="pull-right" style="padding: 5px">
			<button class="btn btn-sm btn-default" id="save-series-btn">Save</button>
			<button class="btn btn-sm btn-default" id="cancel-series-btn">Cancel</button>
		</div>
	</div>
</div>
<div id="instance-tag-box">
	<div class="draggable"></div>
	<div style="padding: 10px">
		<select id="pat1"></select><br/>
		<select id="ana1"></select><br/>
		<input type="text" id="instance-comment" style="width:100%" placeholder="Enter comment">
		<br>
		<div class="pull-left" style="font-size: 0.7em;margin-right: 5px;padding: 4px 5px;background: #eee;border-radius: 5px;">
			Copy from slice <input type="number" name="slice_start_number" style="width:50px"> to <input type="number" name="slice_end_number" style="width:50px">
		</div>
		<div class="pull-right" style="padding: 5px">
			<button class="btn btn-sm btn-default" id="save-instance-btn">Save</button>
			<button class="btn btn-sm btn-default" id="cancel-instance-btn">Cancel</button>
		</div>
	</div>
</div>
<div id="instance-tag-box-v">
	<div class="draggable"></div>
	<div style="padding: 10px">
<!-- 		<div class="btn-group">
		  <button type="button" class="btn btn-default btn-instance-verification">Valid</button>
		  <button type="button" class="btn btn-default btn-instance-verification">Invalid</button>
		  <button type="button" class="btn btn-default btn-instance-verification">Not Sure</button>
		</div>
		<br/><br/> -->
		<select id="pat1-v"></select><br/>
		<select id="ana1-v"></select>
		<div class="pull-right" style="padding: 5px">
			<button class="btn btn-sm btn-default" id="verify-instance-btn">Save</button>
			<button class="btn btn-sm btn-default" id="cancel-verify-instance-btn">Cancel</button>
		</div>
	</div>
</div>
<div id="new-tag-v">
	<div class="draggable"></div>
	<div style="padding: 10px">
		<!-- <div class="btn-group">
		  <button type="button" class="btn btn-default btn-annotation-verification">Valid</button>
		  <button type="button" class="btn btn-default btn-annotation-verification">Invalid</button>
		  <button type="button" class="btn btn-default btn-annotation-verification">Not Sure</button>
		</div> -->
		<button class="btn btn-success btn-sm btn-block" id="verify-new-annotation">Add your own tag</button>
		<br/>
		<select id="tag-options-v"></select> 
		<label class="checkbox-inline" style="font-size: 0.8em"><input type="checkbox" id="annotation-verification-condition" style="margin-top:2px">Critical</label>
		<br/>
		<select id="tag-options2-v"></select>
		<select id="tag-options3-v"></select>
		<input type="text" id="annotation-verification-comment" style="width: 100%;margin-bottom: 8px;font-size: 0.75em;padding:2px 4px" placeholder="Enter your comments">
		<br>
		<div class="pull-right">
		<button id="verify-tag-save-btn" class="btn btn-default btn-sm">Save</button> <button id="verify-tag-close-btn" class="btn btn-default btn-sm">Cancel</button>
		</div>
	</div>
</div>

<div id="loader-div">
	<div style="width:200px">
	<center>
		<div style="height:30px;width:30px;margin-bottom:20px;border-radius:5px;border:#1081de solid 5px;background: none" class="glow"></div>
		<p id="msg-loader"></p>
		<div class="progress">
		    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
		    </div>
		</div>
		<div class="load-error hide">
			Something went wrong. Please RELOAD the page
		</div>
	</center>
	</div>
</div>

<div id="zoom-view" class="hide"></div>
<div class="modal fade" id="reportModal" role="dialog">
	    <div class="modal-dialog modal-lg">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="report modal-title">Report ID</h4>
	        </div>
	        <div class="report modal-body">
	          <p>Currently report is not available.</p>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	    </div>
	  </div>




<input type="text" id="reportid" hidden>
<input type="text" id="imageid" hidden>
<input type="text" id="folderid" hidden>
<input type="text" id="doctorid" hidden value="{{session['doctorId']}}">
<input type="text" id="currentpage" value="0" hidden>
<input type="text" id="ajax-url" value="" hidden>
<script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/js/konva.min.js"></script>
<script type="text/javascript" src="/static/assets/js/cornerstone.min.js"></script>
<script type="text/javascript" src="/static/assets/js/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="/static/assets/js/dicomparser.js?v=29082017"></script>
<script type="text/javascript" src="/static/assets/js/stage3.js?v=29082017"></script>
<script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/static/assets/js/daterangepicker.js"></script>
<script type="text/javascript" src="/static/assets/js/cornerstoneWADOImageLoader.js"></script>
<script type="text/javascript" src="/static/assets/js/dicomParser.min.js"></script>
<script type="text/javascript" src="/static/assets/js/utility.js?v=29082017"></script>
<script type="text/javascript" src="/static/assets/js/jquery.idle.min.js"></script>
<script>
</script>
</body>
</html>